<!DOCTYPE html>
<title>World Capitals</title>
<center>
    <h1>Details regarding the Captial cities of the World</h1>
</center>
<HR>
{% if results %}
    <center>
        <table border=1>
            <tr>
                <th>Country</th>
                <th>Capital</th>
            </tr>
    {% for result in results %}
        <tr>
            <td>{{ result.country }}</td>
            <td>{{ result.name }}</td>
        </tr>
    {% endfor %}
{% endif %}
<BR><BR>
<!--
<form action="/" method="post">
    <p>
        Please sign:
        <input name="comment">
        <br>
    </p>
    <p><input type="submit" value="Submit"></p>
</form>
-->